<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884253886317-5l9c7ul74urtf61vq5tlnpn0lde33qna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884253886317-5l9c7ul74urtf61vq5tlnpn0lde33qna</string>
	<key>API_KEY</key>
	<string>AIzaSyDoYdKbg1hBAYr3Az7lyC_oohIj6sOqoUc</string>
	<key>GCM_SENDER_ID</key>
	<string>884253886317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bjdevelopers.notenow</string>
	<key>PROJECT_ID</key>
	<string>notenow-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>notenow-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884253886317:ios:4adf2a5b251b73a8e6bc64</string>
</dict>
</plist>